@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

body {
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
}

.fixed-top {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1030;
    padding: 20px 150px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1200px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.logo>img {
    width: 70px;
}

.mb-10 {
    margin-bottom: 10px;
}

.input-group-text {
    min-width: 100px;
}

small {
    color: #fc0000;
    padding-left: 5px;
}

textarea {
    resize: none;
}

.mdi-window-close::before {
    display: none !important;
}

.btn-close {
    cursor: pointer;
}

.modal-header,
.modal-header:hover {
    transition: all .3s ease;
}

.modal.modal-static .modal-dialog {
    transition: all .2s ease;
    transform: scale(1.02);
    box-shadow: 0px 0px 20px #fc0000;
}

.modal-dialog-centered {
    min-height: 0;
    top: 20%;
}

.modal-dialog.modal-dialog-centered {
    margin: 1.75rem auto;
}

.iconMenu {
    display: none;
}

.center {
    text-align: center;
}

.doc>img {
    opacity: 50%;
    transition: all .3s ease;
}

.doc:hover>img {
    opacity: 100%;
    transition: all .3s ease;
}

#divSearch {
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0px;
    height: 0px;
    z-index: 10000;
    opacity: 100%;
    transition: all .3s ease;
}

#divSearch.show {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: all .3s ease;
}

.divClose {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 0px;
    width: 0px;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
}

.closeSearch {
    cursor: pointer;
}

#divSearch.show .divClose {
    position: absolute;
    right: 30px;
    top: 20px;
    height: 50px;
    width: 50px;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
}

.divClose>.mdi-window-close::before {
    display: block !important;
}

.fundSearch.show {
    opacity: .8;
    transition: all .3s ease;
}

.fundSearch.fade {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    right: 50%;
    width: 0px;
    height: 0px;
    background-color: #000;
    transition: all .3s ease;
}

#divSearch.show~.fundSearch {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    transition: all .3s ease;
}

.fade {
    transition: opacity .15s linear;
}

.divClose>i {
    font-size: 40px;
    color: rgba(13, 202, 240, 1);
}

.search {
    width: 100%;
    font-size: 0px;
    padding: 0;
    border-radius: 10px;
    transition: all .3s ease;
    visibility: hidden;
    opacity: 0;
}

input.search:focus {
    border: 2px solid rgba(13, 202, 240, 1);
    border-radius: 10px;
    outline: 0;
    transition: all .3s ease;
}

.divSearch {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 0;
    z-index: 999999;
}

.visibleHidde {
    opacity: 0;
    visibility: hidden;
}

.visibHid {
    opacity: 0;
}

#divSearch.show>.divSearch>.search {
    width: 100%;
    font-size: 30px;
    padding: 10px 20px;
    border: 2px solid rgba(13, 202, 240, .5);
    border-radius: 5px;
    transition: all .3s ease;
    visibility: visible;
    opacity: 1;
    background: #fff;
}

#divSearch.show>.divSearch {
    position: absolute;
    top: 20%;
    left: 25%;
    right: 25%;
    padding: 100px;
    opacity: 1;
    z-index: 999999;
}

.d-none {
    display: none;
}

.pl {
    padding-left: 80px;
}

.plr {
    padding: 15px 40px;
}

.pr-200 {
    padding-right: 270px !important;
}

.navbar-nav>li {
    padding: 0px 10px;
}

.borderRadius {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 5px 18px !important;
}

section {
    margin-bottom: 50px;
    border-bottom: 1px solid #f3f3f3;
    padding: 10px 80px;
    text-align: center;
}

.form-control,
.form-control:focus {
    color: #fff;
}

.form-control.dangerInput {
    border-color: #fc0000 !important;
    box-shadow: 0 0 0 0.25rem rgba(252, 0, 0, 0.25);
}

.form-control.successInput {
    border-color: #08d24b !important;
    box-shadow: 0 0 0 0.25rem rgba(8, 210, 75, 0.25);
}

.form-control.treme {
    animation: treme 0.2s;
    animation-iteration-count: 3;
}

@keyframes treme {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 1px;
    }
    50% {
        margin-left: 0;
    }
    75% {
        margin-left: -1px;
    }
    100% {
        margin-left: 0;
    }
}

.pulsaPrimary:hover {
    box-shadow: 0 0 0 0 rgba(13, 110, 253, 1);
    transform: scale(1);
    animation: pulsePrimary 2s;
}

.pulsaSuccess:hover {
    box-shadow: 0 0 0 0 rgba(8, 210, 75, 1);
    transform: scale(1);
    animation: pulseSuccess 2s;
}

.pulsaInfo:hover {
    box-shadow: 0 0 0 0 rgba(13, 202, 240, 1);
    transform: scale(1);
    animation: pulseInfo 2s;
}

.pulsaDanger:hover {
    box-shadow: 0 0 0 0 rgba(252, 0, 0, 1);
    transform: scale(1);
    animation: pulseDanger 2s;
}

@keyframes pulseSuccess {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(8, 210, 75, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(8, 210, 75, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(8, 210, 75, 0);
    }
}

@keyframes pulsePrimary {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(13, 110, 253, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 110, 253, 0);
    }
}

@keyframes pulseInfo {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 202, 240, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(13, 202, 240, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(13, 202, 240, 0);
    }
}

@keyframes pulseDanger {
    0% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(252, 0, 0, 0.4);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(252, 0, 0, 0);
    }
    100% {
        transform: scale(1);
        box-shadow: 0 0 0 0 rgba(252, 0, 0, 0);
    }
}

.btn-success {
    background: #08d24b !important;
    border-color: #08d24b !important;
}

.text-success {
    color: #08d24b !important;
}

.fs-14 {
    font-size: 14px !important;
}

.gap-2 {
    gap: 1.5rem!important;
}

.carousel {
    margin-bottom: 0px;
}

.carousel-item {
    height: 700px;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 700px;
}

.carousel-caption {
    bottom: 200px;
    z-index: 10;
}

.carousel-caption h1 {
    margin-bottom: 30px;
}

.carousel-caption p {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 50px;
}

.carousel-caption a {
    padding: 10px 30px;
}

#boxesClientes img {
    max-width: 150px;
    filter: grayscale(90%);
    opacity: .5;
    transition: all .3s ease;
}

#boxesClientes img:hover {
    max-width: 150px;
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s ease;
}

.btn {
    transition: all .3s ease;
    min-width: 150px;
    border-radius: 3px;
}

.btn:hover {
    transition: all .3s ease;
}

#email {
    background: transparent;
    border-color: #b7dbe23b;
}

#boxesServicos {
    padding-bottom: 50px;
}

.padding-45 {
    padding: 0 45px;
}

a.btn-info {
    color: #fff;
    margin-right: 20px;
    transition: all .3s ease;
}

a.btn-default {
    color: #fff;
    margin-right: 20px;
    border: 1px solid #fff;
    transition: all .3s ease;
}

.btn-default:hover,
.btn-info:hover {
    transition: all .3s ease;
}

.bg-box {
    background: rgb(45, 122, 209);
    box-shadow: 1px 5px 15px #999;
}

.col-lg-4 {
    padding: 30px;
    border-radius: 3px;
}

.col-lg-4>i {
    font-size: 50px;
}

.titulo {
    font-size: 16px;
    margin-bottom: 30px;
}

.texto {
    font-size: 12px;
    line-height: 25px;
}

.lead {
    font-size: 14px;
    color: rgb(184, 178, 178);
    margin-bottom: 40px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.py-3 {
    padding: 10px 160px;
    margin: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    transition: all .3s ease;
}

.foneEmail {
    color: #000;
    transition: all .3s ease;
}

.foneEmail:hover {
    transition: all .3s ease;
}

footer>ul>li>a:hover {
    transition: all .3s ease;
    color: #ffcc00;
}

.text-footer-center {
    color: rgb(184, 178, 178) !important;
}

.newsletter {
    background: #16223c;
    margin-bottom: 0
}

@media (max-width: 991.98px) {
    .fixed-top {
        position: absolute;
        padding: 0px;
        background: #fff;
    }
    .pl {
        padding-left: 0px;
    }
    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: .25rem;
        transition: box-shadow .15s ease-in-out;
    }
    .container {
        width: 90%;
    }
    section {
        border-bottom: 1px solid #f3f3f3;
        padding: 10px;
        margin: 0;
        width: 100%;
        text-align: center;
        margin-left: 0px;
        margin-right: 10px;
    }
    .carousel-caption a {
        padding: 5px 10px;
    }
    .btn {
        font-size: 13px;
        min-width: 100px;
    }
    a.btn-default {
        color: #fff;
        margin-right: 10px;
        border: 1px solid #fff;
    }
    .newsletter {
        background: #16223c;
        margin-bottom: 0;
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    .carousel-item,
    .carousel-item>img {
        height: 500px;
    }
    .carousel {
        top: 0px;
    }
    .carousel-caption {
        bottom: 40px;
        z-index: 10;
    }
    .col-lg-3 {
        width: 50%;
    }
    .padding-45 {
        padding: 10px;
    }
    .lead {
        text-align: justify;
    }
    .py-3 {
        padding: 10px 10px;
        margin: 10px;
    }
    .align-items-center {
        text-align: center;
    }
    .d-flex {
        display: block !important;
    }
    .footP {
        margin: 30px !important;
    }
    .row>* {
        width: 100%;
    }
    .modal .col-md-6 {
        width: 50%;
    }
    .modal-dialog.modal-dialog-centered {
        max-width: 500px;
        margin: 1.75rem auto;
    }
    header .nav-link {
        display: block;
        padding: .5rem 1rem;
        color: #0d6efd !important;
        text-decoration: none;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    header .nav-link {
        padding: 7px;
        color: #0d6efd !important;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
    }
    .liSearch {
        display: none;
    }
    .borderRadius {
        border: none;
        border-radius: 0px;
        padding: 0 !important;
    }
    header .nav-item {
        padding: 5px 20px 5px 20px!important;
        border-bottom: 1px solid #f3f3f3;
    }
    .nav-item:hover {
        padding: 5px 20px 5px 20px!important;
        border-bottom: 1px solid #f3f3f3;
        background: #f3f3f3;
    }
    header .nav-item:last-child {
        padding: 5px 20px 10px 20px!important;
        border-bottom: none;
    }
    .mb-2 {
        margin-bottom: .5rem!important;
        margin-top: 15px;
    }
    .iconMenu {
        font-size: 22px;
        position: absolute;
        right: 0px;
        top: 0;
        display: block;
    }
    .navbar img {
        margin: 10px;
    }
    #divSearch.show>.divSearch {
        top: 10%;
        left: 0%;
        right: 0;
        padding: 20px;
    }
    #divSearch.show>.divSearch>.search {
        font-size: 20px;
    }
    #divSearch.show .divClose {
        right: 5px;
        top: 5px;
    }
}